body {
  margin: 0;
  background-color: rgb(250, 250, 250);
}

.header {
  letter-spacing: 20px;
  width: 100%;
  height: 15em;
  background-image: linear-gradient(
    to right top,
    lightyellow,
    rgb(25, 200, 231)
  );
  text-align: center;
}

.nav-bar {
  width: 100%;
  background-color: black;
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ul {
  list-style: none;
}

/* nutritioninfo */
.macro-container {
  padding: 3em;
  margin: 2em;
}

.mac-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5em;
  margin: 2em;
}

.mac {
  padding: 3em;
  margin: 5em;
  color: rgb(66, 66, 66);
  border: 2px solid;
  border-color: rgb(103, 195, 218);
}

.chart-border {
  padding: 3em;
  margin: 5em;
  color: rgb(66, 66, 66);
  border: 2px solid;
  border-color: rgb(103, 195, 218);
}

.search-container {
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 2em;
}

.recipies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  margin: 2em;
}
